*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: rgb(238, 224, 224);
    display: grid;
    place-items: center;
    height: 100vh;
}

